<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Quiz</title>
    <!-- Подключаем Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Valorant Quiz</h1>
        </header>
        <!-- Основное содержимое страницы -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- Подключаем Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        body {
            background-image: url(https://avatars.mds.yandex.net/i?id=dfeb937b287ffd62828eb30cae073c15_l-5717840-images-thumbs&n=13);
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</body>
</html>