{% extends 'ttesting/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Таблица лидеров</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Имя</th>
                            <th scope="col">Очки</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                        <tr>
                            <td>{{ player.username }}</td>
                            <td>{{ player.score }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-center mt-4">
                    <a href="{% url 'quiz' %}" class="btn btn-primary">Пройти тест заново</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}